<div class="well">
    <h2 class="text-center">Manage Tasks</h2>
    <a class="btn btn-primary btn-lg pull-right" href="#/tasks/manage">Add Task</a>
    <br /><br /><br />
    <div class="table">
        <table class="table">
            <thead>
                <th>Name</th>
                <th>Created At</th>
                <th>Due Date</th>
                <th>Completed at</th>
                <th></th>
                <th></th>
            </thead>
            <tbody>
                <tr ng-repeat="task in tasks">
                    <td>{{ task.name }}</td>
                    <td>{{ task.created_at }}</td>
                    <td>{{ task.due_date }}</td>
                    <td>{{ (task.status) ? task.completed_at : "Not Completed" }}</td>
                    <td><a class="btn btn-primary" href="#/tasks/manage/{{ task.id }}">Edit</a></td>
                    <td><a href="" ng-click="delete(task.id)" class="btn btn-danger" >Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>