<div class="well">
    <h2 class="text-center">Manage Tasks</h2>
    <a class="btn btn-primary btn-lg pull-right" href="#/tasks/manage">Add Task</a>
    <br /><br /><br />
    <div class="table">
        <table class="table">
            <thead>
                <th>Name</th>
                <th>User</th>
                <th>Assigned at</th>
                <th>Completed at</th>
                <th>Action</th>
            </thead>
            <tbody>
                <tr ng-repeat="task in tasks">
                    <td>{{ task.name }}</td>
                    <td>{{ task.user }}</td>
                    <td>{{ task.assigned_at }}</td>
                    <td>{{ task.completed_at }}</td>
                    <td><a class="btn btn-default" href="">Edit</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>